.successApply{
    width: 100%;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
    .successApply__iconContainer{
        text-align: end;
        font-size: 40px;
        .successApply__iconContainer--icon{
            cursor: pointer;
            &:hover{
                background-color: white;
                transform: scale(1.02);
            }
        }
    }

    .successApply__info{
        span{
            color: red;
            cursor: pointer;
        }
    }

    .successApply__listing{
        margin-top: 50px;
        margin-left: -250px;
        margin-right: 210px;
    }
   
}