
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10rem;
  background-color: black;
  margin-left: 20rem;
  margin-right: 20rem;

  .Header__logo {
    display: flex;
    margin-left: -150px;
    margin-right: 150px;
    align-items: center;
    font-size: 2rem;
    
    color: white;
    img {
      height: 3.5rem;
      width: auto;
      cursor: pointer
    }
  }

  .Header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    margin-right: 10rem;

    .Header__nav__item {
      margin: 0 1rem;
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      transition: color 0.5s ease;
      white-space: nowrap; 
      &:hover {
        color: rgb(118, 168, 212);
        cursor: pointer;
      }
    }
  }
}
