.applicationContainer{
    background-color: aliceblue;

    .applicationContainer__header{
        align-items: center;
        text-align: center;
        margin-right: 350px;
        padding-top: 50px;
    }
}