.applicationNext {
  background-color: rgb(255, 255, 255);
  margin-left: 7%;
  margin-right: 7%;

  .applicationNext__header {
    align-items: center;
    text-align: center;
    margin-right: 430px;
    padding-top: 50px;
  }
  .applicationNext__form {
    .applicationNext__form__title {
      background-color: #f3f3f3;
      width: 65.8%;
      margin-left: 18%;
      padding: 5px;
      h3 {
        margin-left: 80px;
      }
    }

    .applicationNext__form__container {
      display: flex;
      background-color: #f3f3f3;
      width: 65%;
      margin-left: 18%;
      padding: 10px;
      margin-bottom: 20px;
      .applicationNext__form__container__column {
        width: 50%;
        margin-left: 80px;
        margin-bottom: 20px;
        input {
          margin-top: -10px;
          width: 250px;
          height: 40px;
          padding: 5px 5px;
          border-radius: 5px;
          border: 1px solid gray;
          margin-bottom: 10px;
        }
      }
    }

    .applicationNext__form__consent{
        background-color: #f3f3f3;
      width: 51%;
      margin-left: 18%;
      padding: 40px 100px;
      margin-top: 20px;
      font-size: 18px;
      margin-bottom: 20px;
      span{
        color: red;
        text-decoration: underline;
        cursor: pointer;
        }
      .applicationNext__form__consent__checkbox{
        display: flex;
        input{
            margin-right: 50px;
        }
      }
    }

    .applicationNext__form__btn{
        padding: 50px;
        display: flex;
        justify-content: space-between;
        margin-left: 180px;
        button{
            margin-top: 0px;
        margin-right: 140px;
        width: 20%;
        height: 45px;
        border-radius: 30px;
        background-color: #76a8d4;
        font-size: larger;
        font-weight: bold;
        border: none;
        cursor: pointer;

        &:hover {
          transform: scale(1.01);
          box-shadow: 2px 2px 2px rgb(72, 86, 91);
        }
        }
    }
  }
}
