.currentListingContainer {
  display: flex;
  width: 100%;
}

.currentListingContainer__left-section {
  width: 40%;
  background-color: blueviolet;
}

.currentListingContainer__right-section {
  flex-grow: 1;
  width:60%;
  background-color:aqua;
}
