.successBookingPage{
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 50px;
    
    .successBookingPage__container{
      padding-top: 50px;
      margin-left: 20%;
      margin-right: 20%;
    }
  }