.Login-bg {
  height: 80vh;
  background-color: black;
  height: 82.5vh;
  display: flex;
  justify-content: center;
  .Login {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: 90%;
    width: 66%;
    background-color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 17rem !important;

    .Login__breadcrumb {
      background-color: #f5f5f5;
      display: flex;
      justify-content: flex-start;
      align-items: start;
      padding-top: 3rem;
      padding-left: 2rem;

      .Login__breadcrumb__link {
        color: #333;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: #007bff;
          cursor: pointer;
        }
      }
    }

    .Login__form {
      background-color: #ffffff;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 6rem;
      padding-left: 22rem;
      h2 {
        color: #333;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        label {
          color: #333;
          font-weight: 600;
          font-size: 1rem;
        }
        input {
          margin-bottom: 4rem;
          border: 1px solid #ccc;
          border-radius: 10px;
          width: 40%;
          height: 3rem;  
          &:focus {
            border-color: #007bff;
          }
        }
        .forgot{
            input{
                color: red;
                margin-bottom: 2rem;
            }
        }
        .Login__form__button-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;
          margin-top: 2rem;
          button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            &:first-child {
              background-color: rgb(118, 168, 212);
              color: #ffffff;
              &:hover {
                background-color: rgb(88, 138, 182);
              }
            }
            &:last-child {
              background-color: #f8f9fa;
              color: #333;
              &:hover {
                background-color: #e2e6ea;
              }
            }
          }
        }
      }
    }
  }
}
