.ListingsId-container {
  background-color: black;
  min-height: 85.5vh;
  display: flex;
  justify-content: center;
}

.ListingsId {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 86%;
    padding-bottom: 5vh;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .description {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .location {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .contact {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .contact-info p {
    margin: 0;
}


.property-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #f5f5f5;
    width: 100%;
    padding-left: 4%;
    height: auto;
    padding-bottom: 5vh;
  }
  
  .property-details p {
    margin: 0;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
      padding-right: 0rem;
      width: 100%;
    }
    h1 .location {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
  
  .main-image {
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
  }
  
  .other-images {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
    padding-right: 10rem;
  }
  
  .small-image {
    width: 5rem;
    height: 4rem;
    border-radius: 10px;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    padding-right: 6rem;
    padding-top: 5rem;
     
    button {
      width: 15rem;
      height: 5rem;
      border-radius: 10px;
      border: none;
      background-color: rgb(118, 168, 212);
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background-color: rgb(176, 215, 248);
      }
    }
    
  }

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .bottom {
    background-color: rgb(235, 235, 235);
    padding: 1rem;
    margin-right: 2rem;
    width: 90%;
  }

  .race-by {
    --uib-size: 80px;
    --uib-speed: 1.4s;
    --uib-color: black;
    --uib-line-weight: 5px;
  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .race-by::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
  }
  
  .race-by::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: raceBy var(--uib-speed) ease-in-out infinite;
    transform: translateX(-100%);
    background-color: var(--uib-color);
  }
  
  @keyframes raceBy {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }